<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Cuba admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
  <meta name="keywords"
    content="admin template, Cuba admin template, dashboard template, flat admin template, responsive admin template, web app">
  <meta name="author" content="pixelstrap">
  <link rel="icon" href="../assets/images/favicon.png" type="image/x-icon">
  <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">
  <title>Cuba - Premium Admin Template</title>
  <!-- Google font-->
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">
  <!-- ico-font-->
  <link rel="stylesheet" type="text/css" href="../assets/css/vendors/icofont.css">
  <!-- Themify icon-->
  <link rel="stylesheet" type="text/css" href="../assets/css/vendors/themify.css">
  <!-- Flag icon-->
  <link rel="stylesheet" type="text/css" href="../assets/css/vendors/flag-icon.css">
  <!-- Feather icon-->
  <link rel="stylesheet" type="text/css" href="../assets/css/vendors/feather-icon.css">
  <!-- Plugins css start-->
  <link rel="stylesheet" type="text/css" href="../assets/css/vendors/slick.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/vendors/slick-theme.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/vendors/scrollbar.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/vendors/animate.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/vendors/select2.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/vendors/sweetalert2.css">
  <!-- Plugins css Ends-->
  <!-- Bootstrap css-->
  <link rel="stylesheet" type="text/css" href="../assets/css/vendors/bootstrap.css">
  <!-- App css-->
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  <link id="color" rel="stylesheet" href="../assets/css/color-1.css" media="screen">
  <!-- Responsive css-->
  <link rel="stylesheet" type="text/css" href="../assets/css/responsive.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
</head>

<body>
  <!-- loader starts-->
  <div class="loader-wrapper">
    <div class="loader-index"> <span></span></div>
    <svg>
      <defs></defs>
      <filter id="goo">
        <fegaussianblur in="SourceGraphic" stddeviation="11" result="blur"></fegaussianblur>
        <fecolormatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo"> </fecolormatrix>
      </filter>
    </svg>
  </div>
  <!-- loader ends-->
  <!-- tap on top starts-->
  <div class="tap-top"><i data-feather="chevrons-up"></i></div>
  <!-- tap on tap ends-->
  <!-- page-wrapper Start-->
  <div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Header Start-->
    <%- include('header', { mobile_number: mobile_number }) -%>
    <!-- Page Header Ends-->
      <!-- Page Body Start-->
      <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        <%- include('sidebarpannel'); -%>
          <!-- Page Sidebar Ends-->
          <div class="page-body">
            <div class="container-fluid">
              <div class="page-title">
                <div class="row">
                  <div class="col-6">
                    <h3>Contacts</h3>
                  </div>
                  <div class="col-6">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="index.html">                                       
                          <svg class="stroke-icon">
                            <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
                          </svg></a></li>
                      <li class="breadcrumb-item">Apps</li>
                      <li class="breadcrumb-item active">Contacts</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
            <!-- Container-fluid starts-->
            <div class="container-fluid">
              <div class="email-wrap bookmark-wrap">
                <div class="row">
                  <div class="col-xl-18 col-md-12 box-col-18">
                    <div class="email-right-aside bookmark-tabcontent contacts-tabs">
                      <div class="card email-body radius-left dark-contact">
                        <div class="ps-0">
                          <div class="tab-content">
                            <div class="tab-pane fade active show" id="pills-personal" role="tabpanel" aria-labelledby="pills-personal-tab">
                              <div class="card mb-0">
                                
                                <div class="card-header d-flex">
                                  <!-- Placeholder -->
                                  <div class="flex-start"><h5>Contacts [ 
                                    <span>
                                      <%= rows.length %>
                                    </span> ] 
                                  </h5></div>
                                  
                                  <!-- Success message -->
                                  <div id="successMessage" style="display: none; background-color: rgb(28, 199, 28); color: white; border-radius: 10px; padding: 5px;">
                                    Contact added successfully!
                                  </div>                                         
                                  
                                  <!-- Add button -->
                                  <button type="button" id="add_data" class="btn btn-success btn-sm float-end" data-bs-toggle="modal" data-bs-target="#contactsFormModal">Add</button>
                                 
                                </div>  

                                <div class="modal fade" id="contactsFormModal" tabindex="-1" aria-labelledby="contactsFormModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h5 class="modal-title" id="addcontact">Add Contact</h5>
                                              <h5 class="modal-title" id="editcontact">Edit Contact</h5>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                          </div>
                              
                                          <div class="modal-body">
                                              <form id="contactsForm">
                                                  <div class="mb-3">
                                                      <label for="contactFullName" class="form-label">Full Name</label>
                                                      <input type="text" class="form-control" id="contactFullName" required>
                                                  </div>
                                                  <div class="mb-3">
                                                      <label for="contactWhatsappNumber" class="form-label">WhatsApp Number</label>
                                                      <input type="text" class="form-control" id="contactWhatsappNumber" required>
                                                  </div>
                                                  <div class="mb-3">
                                                      <div class="mt-0 mb-3 col-md-15">
                                                          <div class="row">
                                                              <div class="col-sm-3">
                                                                  <label>Gender</label>
                                                                  <div class="d-block">
                                                                      <label class="me-3" for="contactGenderMale">
                                                                          <input class="radio_animated" id="contactGenderMale" type="radio" name="contactGender" checked value="Male">
                                                                          <span>Male</span>
                                                                      </label>
                                                                      <label for="contactGenderFemale">
                                                                          <input class="radio_animated" id="contactGenderFemale" type="radio" name="contactGender" value="Female">
                                                                          <span>Female</span>
                                                                      </label>
                                                                  </div>
                                                              </div>
                              
                                                              <div class="col-sm-9">
                                                                  <label>Date of Birth</label>
                                                                  <div class="row">
                                                                      <div class="col-lg-3 col-sm-5">
                                                                          <select class="form-control" id="contactBirthDay" placeholder="Day">
                                                                              
                                                                              <option>01</option>
                                                                              <option>02</option>
                                                                              <option>03</option>
                                                                              <option>04</option>
                                                                              <option>05</option>
                                                                              <option>06</option>
                                                                              <option>07</option>
                                                                              <option>08</option>
                                                                              <option>09</option>
                                                                              <option>10</option>
                                                                              <option>11</option>
                                                                              <option>12</option>
                                                                              <option>13</option>
                                                                              <option>14</option>
                                                                              <option>15</option>
                                                                              <option>16</option>
                                                                              <option>17</option>
                                                                              <option>18</option>
                                                                              <option>19</option>
                                                                              <option>20</option>
                                                                              <option>21</option>
                                                                              <option>22</option>
                                                                              <option>23</option>
                                                                              <option>24</option>
                                                                              <option>25</option>
                                                                              <option>26</option>
                                                                              <option>27</option>
                                                                              <option>28</option>
                                                                              <option>29</option>
                                                                              <option>30</option>
                                                                              <option>31</option>
                                                                                                          
                                                                          </select>
                                                                      </div>
                                                                      <div class="col-lg-3 col-sm-4">
                                                                          <select class="form-control" id="contactBirthMonth" placeholder="Month">
                                                                              
                                                                              <option>01</option>
                                                                              <option>02</option>
                                                                              <option>03</option>
                                                                              <option>04</option>
                                                                              <option>05</option>
                                                                              <option>06</option>
                                                                              <option>07</option>
                                                                              <option>08</option>
                                                                              <option>09</option>
                                                                              <option>10</option>
                                                                              <option>11</option>
                                                                              <option>12</option>
                                                                          </select>
                                                                      </div>
                                                                      <div class="col-lg-3 col-sm-4">
                                                                          <input class="form-control" id="contactBirthYear" type="text" placeholder="Year">
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="mb-3 col-md-12">
                                                      <div class="row">
                                                          <div class="col-12">
                                                              <div class="mb-2">
                                                                  <label for="contactAddress" class="form-label">Address</label>
                                                                  <input type="text" class="form-control" id="contactAddress" required>
                                                              </div>
                                                          </div>
                                                          <div class="col-sm-6">
                                                              <div class="mb-2">
                                                                  <label for="contactCity" class="form-label">City</label>
                                                                  <input type="text" class="form-control" id="contactCity" required>
                                                              </div>
                                                          </div>
                                                          <div class="col-sm-6">
                                                              <div class="mb-2">
                                                                  <label for="contactState" class="form-label">State</label>
                                                                  <input class="form-control" type="text" id="contactState" required>
                                                              </div>
                                                          </div>
                                                          <div class="col-sm-6">
                                                              <div>
                                                                  <label for="contactCountry" class="form-label">Country</label>
                                                                  <input class="form-control" type="text" id="contactCountry" required>
                                                              </div>
                                                          </div>
                                                          <div class="col-sm-6">
                                                              <div>
                                                                  <label for="contactPincode" class="form-label">Pincode</label>
                                                                  <input class="form-control" type="text" id="contactPincode" required>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </form>
                                          </div>
                              
                                          <div class="modal-footer">
                                              
                                              <button type="button" class="btn btn-primary" id="addContactBtn">Add</button>
                                              <button type="button" class="btn btn-primary" id="SaveContactBtn">Save</button>
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              
                                <span id="message"></span>
                                <div class="card-body p-0">
                                  <div class="row list-persons" id="addcon">
                                    <div class="col-xl-4 xl-50 col-md-5">
                                      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                        <% rows.forEach(function(eachData, index) { %>
                                          <a class="contact-tab-<%= index %> nav-link <%= index === 0 ? 'active' : '' %>"
                                            id="v-pills-user-tab-<%= index %>" 
                                            data-bs-toggle="pill"
                                            onclick="activeDiv(<%= index %>)" 
                                            href="#v-pills-user-<%= index %>"
                                            role="tab" aria-controls="v-pills-user"
                                            aria-selected="<%= index === 0 ? 'true' : 'false' %>">
                                            <div class="media">
                                              <div
                                                class="img-circle img-50 img-fluid m-r-20 rounded-circle update_img_<%= index %>"
                                                style="background-color: #007bff; color: #fff; text-align: center; line-height: 50px; font-size: 20px;">
                                                <% const
                                                nameParts=eachData.full_name.split(' ');
                                                const initials = nameParts.map(part => part.charAt(0).toUpperCase()).join('');
                                                %>
                                                <%= initials %>
                                              </div>
                                                <div class="media-body">
                                                  <h6>
                                                    <span class="full_name<%= index %>"> <%= eachData.full_name %> </span>
                                                  </h6>
                                                  <p class="whatsapp_number<%= index %>"><%= eachData.whatsapp_number %></p>
                                                </div>
                                            </div>
                                          </a>
                                        <% }); %>
                                      </div>
                                    </div>
                                    <div class="col-xl-8 xl-50 col-md-7">
                                      <div class="tab-content">
                                        <% rows.forEach(function(eachData, index) { %>
                                          <div class="tab-pane contact-tab-<%= index %> fade <%= index === 0 ? ' show active' : '' %>" id="v-pills-user-<%=index %>" role="tabpanel" aria-labelledby="v-pills-user-tab-<%=index %>">
                                            <div class="profile-mail">
                                              <div class="media">
                                                <div class="img-circle img-50 img-fluid m-r-20 rounded-circle update_img_<%= index %>" style="background-color: #007bff; color: #fff; text-align: center; line-height: 50px; font-size: 20px;">
                                                  <% const nameParts = eachData.full_name.split(' ');
                                                  const initials = nameParts.map(part => part.charAt(0).toUpperCase()).join('');
                                                  %>
                                                  <%= initials %>
                                                </div>
                                                <div class="media-body mt-0">
                                                  <h5>
                                                    <span class="full_name<%= index %>"> <%= eachData.full_name %> </span>
                                                  </h5>
                                                  <p class="whatsapp_number<%= index %>"> <%= eachData.whatsapp_number %> </p>
                                                  <ul>
                                                    
                                                    <li>
                                                        <a href="#" class="editContactLink text-success"  data-contact-id="<%= eachData.id %>" data-bs-toggle="modal" data-bs-target="#editModal">Edit</a>
                                                    </li>
                                                    <li>
                                                      <a href="#" onclick="deleteContact(<%= index %>)">Delete</a>
                                                    </li>
                                                   
                                                  </ul>
                                                </div>
                                              </div>
                                              <div class="email-general">
                                                <h6 class="mb-3">General</h6>
                                                <ul>
                                                  <li>Full Name <span class="font-primary"> <%= eachData.full_name %> </span></li>
                                                  <li>Whatsapp number <span class="font-primary"> <%= eachData.whatsapp_number %> </span></li>
                                                  <li>Gender <span class="font-primary"> <%= eachData.gender %> </span></li>
                                                  <li>Birthday <span class="font-primary"> <%= new Date(eachData.dob).toLocaleDateString('en-GB') %> </span></li> <!-- Format the date here -->
                                                  <li>Address <span class="font-primary"> <%= eachData.address %> </span></li>
                                                  <li>City <span class="font-primary"> <%= eachData.city %> </span></li>
                                                  <li>State <span class="font-primary"> <%= eachData.state %> </span></li>
                                                  <li>Country <span class="font-primary"> <%= eachData.country %> </span></li>
                                                  <li>Pincode <span class="font-primary"> <%= eachData.pincode %> </span></li>

                                                </ul>
                                              </div>
                                            </div>
                                          </div>
                                        <% }); %>
                                      </div>
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- tab panel end -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Container-fluid Ends-->
          </div>
          <!-- footer start-->
          <footer>
            <%- include('footer'); -%>
          </footer>
      </div>
  </div>
                    
<!-- latest jquery-->
<script src="../assets/js/jquery.min.js"></script>
<!-- Bootstrap js-->
<script
  src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
<!-- feather icon js-->
<script
  src="../assets/js/icons/feather-icon/feather.min.js"></script>
<script
  src="../assets/js/icons/feather-icon/feather-icon.js"></script>
<!-- scrollbar js-->
<script src="../assets/js/scrollbar/simplebar.js"></script>
<script src="../assets/js/scrollbar/custom.js"></script>
<!-- Sidebar jquery-->
<script src="../assets/js/config.js"></script>
<!-- Plugins JS start-->
<script src="../assets/js/sidebar-menu.js"></script>
<script src="../assets/js/sidebar-pin.js"></script>
<script src="../assets/js/slick/slick.min.js"></script>
<script src="../assets/js/slick/slick.js"></script>
<script src="../assets/js/header-slick.js"></script>
<script
  src="../assets/js/notify/bootstrap-notify.min.js"></script>
<script
  src="../assets/js/sweet-alert/sweetalert.min.js"></script>
<script src="../assets/js/select2/select2.full.min.js"></script>
<script src="../assets/js/select2/select2-custom.js"></script>
<script src="../assets/js/form-validation-custom.js"></script>
<script
  src="../assets/js/bookmark/jquery.validate.min.js"></script>
<script src="../assets/js/contacts/custom.js"></script>
<!-- Plugins JS Ends-->
<!-- Theme js-->
<script src="../assets/js/script.js"></script>
<script
  src="../assets/js/theme-customizer/customizer.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    $(document).ready(function () {
      // Function to refresh contact list
  function refreshContactList() {
    // Perform AJAX GET request to fetch updated contact list
    $.ajax({
      type: "GET",
      url: "/fetch_contacts", // Endpoint to fetch contacts data
      success: function (response) {
        // Update the contact list with new data
        $('.list-persons').html(response);
      },
      error: function (error) {
        console.error('Error fetching contacts:', error);
        // Optionally, display an error message to the user
      }
    });
  }

      // Attach click event handler to the Add button
      $("#addContactBtn").click(function () {

        // Retrieve values of the required fields
        var fullName = $("#contactFullName").val().trim();
        var whatsappNumber = $("#contactWhatsappNumber").val().trim();

        // Check if the required fields are empty
        if (fullName === '' || whatsappNumber === '') {
          alert('Please fill in the Full Name and WhatsApp Number fields.');
          return; // Exit the function if validation fails
        }

        // Retrieve values of all form fields
        var fullName = $("#contactFullName").val();
        var whatsappNumber = $("#contactWhatsappNumber").val();
        var gender = $("input[name='contactGender']:checked").val();
        var birthDay = $("#contactBirthDay").val() || '01'; // Default day if not provided
        var birthMonth = $("#contactBirthMonth").val() || '01'; // Default month if not provided
        var birthYear = $("#contactBirthYear").val() || '1000'; // Default year if not provided
        var address = $("#contactAddress").val().trim() || null;
        var city = $("#contactCity").val().trim() || null;
        var state = $("#contactState").val().trim() || null;
        var country = $("#contactCountry").val().trim() || null;
        var pincode = $("#contactPincode").val().trim() || null;


        // Determine the gender label based on the selected radio button
        var gender = $("input[name='contactGender']:checked").val() === 'contactGenderMale' ? 'Female' : 'Male';

        // Combine day, month, and year into a single date format
        var dob = birthYear + '-' + birthMonth + '-' + birthDay;


        // Prepare data to be sent to the server
        var formData = {
          fullName: fullName,
          whatsappNumber: whatsappNumber,
          gender: gender,
          dob: dob,
          address: address,
          city: city,
          state: state,
          country: country,
          pincode: pincode
        };

        // Perform AJAX POST request to add the contact
        $.ajax({
          type: "POST",
          url: "/add_contact",
          data: formData,
          success: function (response) {
            // Log success message and the index of the newly added contact
            console.log(response.message);
            console.log('New Contact ID:', response.newIndex);
            // Optionally, you can perform additional actions here, such as showing a success message to the user
            $('#successMessage').show(); // Show success message
            $('#contactsFormModal').modal('hide'); // Hide the modal

            
            setTimeout(function() {
            $('#successMessage').hide(); 
            }, 1000); 

            // Close the modal
        $('#contactsFormModal').modal('hide');

        // Refresh contact list
        //refreshContactList();
            
          },
          error: function (error) {
            // Log error message if the request fails
            console.error('Error adding contact:', error.responseJSON.error);
            // Optionally, you can display an error message to the user
          }
        });
      });

      // Event listener for the Edit link
      var currentContactId; // Variable to store the current contact ID
      $(document).on('click', '.editContactLink', function (e) {
        e.preventDefault(); // Prevent default link behavior
        $('#contactsFormModal').modal('show'); // Show the modal


        currentContactId = $(this).data('contact-id'); // Store the current contact ID
        console.log('Contact ID:', currentContactId);

       

        // Perform AJAX GET request to fetch contact details based on contact ID
        $.ajax({
          type: "GET",
          url: "/get_contact_details", // Update the URL to your endpoint
          data: { contactId: currentContactId },
          success: function (response) {
            var contactDetails = response.contactDetails;
            $("#contactFullName").val(contactDetails.full_name);
            $("#contactWhatsappNumber").val(contactDetails.whatsapp_number);
            $("#contactAddress").val(contactDetails.address);
            $("#contactCity").val(contactDetails.city);
            $("#contactState").val(contactDetails.state);
            $("#contactCountry").val(contactDetails.country);
            $("#contactPincode").val(contactDetails.pincode);

            // Set gender radio button based on fetched gender value
            $("input[name='contactGender'][value='" + contactDetails.gender + "']").prop('checked', true);

            // Parse date string to get individual components
            var dob = new Date(contactDetails.dob);
            var birthDay = dob.getDate().toString().padStart(2, '0'); // Add leading zero if needed
            var birthMonth = (dob.getMonth() + 1).toString().padStart(2, '0'); // Adding 1 because months are zero-based
            var birthYear = dob.getFullYear();
            console.log(birthDay, birthMonth, birthYear); // To print date in console  for varifaction
            // Set birthdate dropdown values
            $("#contactBirthDay").val(birthDay);
            $("#contactBirthMonth").val(birthMonth);
            $("#contactBirthYear").val(birthYear);

          },
          error: function (error) {

            console.error('Error fetching contact details:', error);

          }
        });
        $('#addcontact').hide();
        $('#editcontact').show();
        $('#addContactBtn').hide();
        $('#SaveContactBtn').show();
      });

      $("#add_data").click(function () {

        $('#addcontact').show();
        $('#editcontact').hide();
        $('#addContactBtn').show();
        $('#SaveContactBtn').hide();
      });
      // Event listener for the "Save" button
      $("#SaveContactBtn").click(function () {
        // Retrieve the updated values from the form fields
        var fullName = $("#contactFullName").val().trim();
        var whatsappNumber = $("#contactWhatsappNumber").val().trim();
        var gender = $("input[name='contactGender']:checked").val();
        var birthDay = $("#contactBirthDay").val() || '01';
        var birthMonth = $("#contactBirthMonth").val() || '01';
        var birthYear = $("#contactBirthYear").val() || '1000';
        var address = $("#contactAddress").val().trim() || null;
        var city = $("#contactCity").val().trim() || null;
        var state = $("#contactState").val().trim() || null;
        var country = $("#contactCountry").val().trim() || null;
        var pincode = $("#contactPincode").val().trim() || null;


        // Combine day, month, and year into a single date format
        var dob = birthYear + '-' + birthMonth + '-' + birthDay;

        // Prepare the updated data to be sent to the server
        var updatedData = {
          fullName: fullName,
          whatsappNumber: whatsappNumber,
          gender: gender,
          dob: dob,
          address: address,
          city: city,
          state: state,
          country: country,
          pincode: pincode,
          contactId: currentContactId // Use the stored contact ID
        };

        // Perform an AJAX POST request to update the contact data
        $.ajax({
          type: "POST",
          url: "/update_contact", // Change the URL to your endpoint for updating contacts
          data: updatedData,
          success: function (response) {
            console.log(response.message); // Log success message
            // Optionally, perform additional actions such as showing a success message to the user
            $('#contactsFormModal').modal('hide');
          },
          error: function (error) {
            console.error('Error updating contact:', error.responseJSON.error); // Log error message
            // Optionally, display an error message to the user
          }
        });
      });






    });




  </script>
</body>
</html>